html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0; }
  body a {
    text-decoration: none; }

body {
  font-family: 'Montserrat', sans-serif;
  background: #F2F2F2; }

div.wrapper {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto; }
  div.wrapper::after {
    clear: both;
    content: "";
    display: table; }

header {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-right: 0;
  position: fixed;
  width: 100%;
  height: 70px;
  background: rgba(159, 108, 209, 0.5); }
  header::after {
    clear: both;
    content: "";
    display: table; }
  header a .fa {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 14.70196%;
    float: left;
    font-size: 3em;
    color: #9F6CD1;
    margin: 15px 0 0 2%; }
    header a .fa:last-child {
      margin-right: 0; }
  header nav {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 82.94039%;
    margin: 25px 0;
    display: inline-block;
    text-align: right;
    float: right; }
    header nav:last-child {
      margin-right: 0; }
    header nav a {
      text-decoration: none;
      padding: 10px;
      font-size: .8em;
      letter-spacing: .15em;
      color: white;
      font-weight: 200;
      text-transform: uppercase;
      transition: background 0.3s ease, color 0.3s ease; }
      header nav a:hover {
        transition: background 0.3s ease, color 0.3s ease; }
    header nav a.btn {
      border: 1px solid rgba(250, 250, 250, 0.3);
      margin-right: 20px; }
      header nav a.btn:hover {
        background: #9F6CD1; }
    header nav div.guestBtn {
      display: inline-block; }
      header nav div.guestBtn a:hover {
        color: #9F6CD1; }

main {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto; }
  main::after {
    clear: both;
    content: "";
    display: table; }

div.profile {
  margin-top: 50px; }

article.cover {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  article.cover:last-child {
    margin-right: 0; }
  article.cover h1 {
    text-align: center;
    font-size: 2em;
    margin: 20px auto;
    padding-right: 20px; }
  article.cover h1.bandLoc {
    font-weight: 100;
    opacity: .8; }
  article.cover div.imgContainer {
    display: block;
    text-align: center;
    background: #9F6CD1;
    overflow: hidden; }
  article.cover img {
    text-align: center;
    margin: 5px auto 0;
    width: auto;
    height: 300px;
    border: 1px solid #9F6CD1;
    border-radius: 1px; }
  article.cover div.textBox {
    position: relative;
    bottom: 200px;
    left: 80px;
    display: inline-block;
    background: rgba(0, 0, 0, 0.5); }
    article.cover div.textBox p.pic {
      font-size: 1.2em;
      color: white;
      padding: 15px 20px;
      text-align: center;
      margin-left: 0;
      transition: text-decoration .3s ease; }

section.profile {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto; }
  section.profile::after {
    clear: both;
    content: "";
    display: table; }

article.bandInfo {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 61.61588%;
  border-right: 1px solid #AAAAAA;
  padding-right: 50px; }
  article.bandInfo:last-child {
    margin-right: 0; }
  article.bandInfo div.soundCloud {
    padding-top: 80px; }
  article.bandInfo div.youtube {
    text-align: center;
    margin-top: 60px; }
  article.bandInfo section.genBox {
    text-align: center;
    padding-bottom: 20px; }
    article.bandInfo section.genBox h3 {
      display: inline-block;
      padding-left: 5px;
      font-weight: lighter;
      font-size: 1em; }

section.fundInfoBox {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
  margin-right: 0;
  padding-top: 70px;
  padding-left: 20px; }
  section.fundInfoBox:last-child {
    margin-right: 0; }
  section.fundInfoBox h3 {
    font-size: 3em;
    margin: 5px 0 0; }
  section.fundInfoBox span .fa {
    font-size: 2.8em;
    padding-right: 5px; }
  section.fundInfoBox span h3 {
    display: inline-block; }
  section.fundInfoBox span p {
    font-size: 1em;
    font-weight: bolder;
    margin: 5px 0 20px; }
  section.fundInfoBox input.bringBtn {
    width: 80%;
    margin-top: 70px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    background: #9F6CD1;
    letter-spacing: .15em;
    text-transform: uppercase;
    font-size: .8em;
    padding: 15px;
    float: right;
    border-radius: 1px;
    transition: opacity .3s ease; }
    section.fundInfoBox input.bringBtn:hover {
      opacity: .8;
      transition: opacity .3s ease; }

input.bringBtn {
  width: 100%;
  color: white;
  text-decoration: none;
  background: #9F6CD1;
  font-family: 'Montserrat', sans-serif;
  padding: 10px 0;
  display: block;
  font-size: 1em;
  border: none;
  border-radius: 1px;
  text-align: center;
  letter-spacing: .15em;
  text-transform: uppercase;
  font-size: .8em;
  transition: opacity .3s ease; }
  input.bringBtn:hover {
    opacity: .8;
    transition: opacity .3s ease; }

article.campaignList {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  margin: 0 auto 30px;
  background: #F2F2F2;
  border-top: 1px solid #AAAAAA; }
  article.campaignList:last-child {
    margin-right: 0; }
  article.campaignList h1 {
    text-align: center;
    font-size: 2em;
    margin-top: 50px; }

div.campBox {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  div.campBox:last-child {
    margin-right: 0; }
  div.campBox section.border {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%;
    margin-left: 34.11922%;
    display: none;
    background: white;
    margin-bottom: 20px;
    padding: 20px; }
    div.campBox section.border:last-child {
      margin-right: 0; }
    div.campBox section.border:last-child {
      display: block; }
  div.campBox span {
    display: block;
    margin-left: 10px; }
  div.campBox h3 {
    display: inline-block;
    padding-left: 10px; }
    div.campBox h3:nth-child(3) {
      font-size: 1em; }
  div.campBox input.addGig {
    width: 40%;
    margin: 0 auto;
    text-align: center;
    color: #9F6CD1;
    background: white;
    opacity: .6;
    border: 1px solid #9F6CD1; }
    div.campBox input.addGig:hover {
      opacity: 1; }

div.bandEdit article.cover .editBtn,
section.bandProfile article.cover .editBtn {
  float: right;
  background: #9F6CD1;
  border-radius: 1px;
  color: white;
  margin-right: 20px;
  border: none;
  font-size: .8em;
  text-transform: uppercase;
  letter-spacing: .12em;
  padding: 10px 15px;
  transition: opacity .3s ease; }
  div.bandEdit article.cover .editBtn:hover,
  section.bandProfile article.cover .editBtn:hover {
    opacity: .8;
    transition: opacity .3s ease; }

div.bandEdit article.cover div.title,
section.bandProfile article.cover div.title {
  text-align: center;
  margin: 20px auto 50px; }
  div.bandEdit article.cover div.title h1,
  section.bandProfile article.cover div.title h1 {
    display: inline; }

div.bandEdit article.cover div.titleEdit,
section.bandProfile article.cover div.titleEdit {
  margin: 0 auto; }

div.bandEdit article.cover.hide,
section.bandProfile article.cover.hide {
  display: none; }

div.bandEdit article.coverEdit .editBtn,
div.bandEdit article.cover .editBtn,
section.bandProfile article.coverEdit .editBtn,
section.bandProfile article.cover .editBtn {
  float: right;
  background: #9F6CD1;
  border-radius: 1px;
  color: white;
  margin-right: 55px;
  border: none;
  font-size: .8em;
  text-transform: uppercase;
  letter-spacing: .12em;
  padding: 10px 15px; }
  div.bandEdit article.coverEdit .editBtn:hover,
  div.bandEdit article.cover .editBtn:hover,
  section.bandProfile article.coverEdit .editBtn:hover,
  section.bandProfile article.cover .editBtn:hover {
    opacity: .8; }

div.bandEdit article.coverEdit input,
div.bandEdit article.cover input,
section.bandProfile article.coverEdit input,
section.bandProfile article.cover input {
  font-size: 1em;
  padding: 10px;
  margin: 0px 10px 20px; }

div.bandEdit article.coverEdit p,
div.bandEdit article.cover p,
section.bandProfile article.coverEdit p,
section.bandProfile article.cover p {
  display: inline-block;
  padding-right: 50px;
  margin-left: 25%; }

div.bandEdit article.coverEdit div.imgContainer,
div.bandEdit article.cover div.imgContainer,
section.bandProfile article.coverEdit div.imgContainer,
section.bandProfile article.cover div.imgContainer {
  display: block;
  text-align: center;
  background: #9F6CD1;
  overflow: hidden; }

div.bandEdit article.coverEdit img,
div.bandEdit article.cover img,
section.bandProfile article.coverEdit img,
section.bandProfile article.cover img {
  text-align: center;
  margin: 5px auto 0;
  width: auto;
  height: 300px;
  border: 1px solid #9F6CD1;
  border-radius: 1px; }

div.bandEdit article.coverEdit .fp__btn,
div.bandEdit article.cover .fp__btn,
section.bandProfile article.coverEdit .fp__btn,
section.bandProfile article.cover .fp__btn {
  background: #9F6CD1;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: .15em;
  font-size: .8em;
  border-radius: 1px;
  text-align: center;
  padding: 5px 15px;
  height: auto;
  margin: 0 33px 10px 0px;
  transition: opacity .3s ease; }
  div.bandEdit article.coverEdit .fp__btn:hover,
  div.bandEdit article.cover .fp__btn:hover,
  section.bandProfile article.coverEdit .fp__btn:hover,
  section.bandProfile article.cover .fp__btn:hover {
    opacity: .8;
    transition: opacity .3s ease; }
  div.bandEdit article.coverEdit .fp__btn:nth-of-type(2),
  div.bandEdit article.cover .fp__btn:nth-of-type(2),
  section.bandProfile article.coverEdit .fp__btn:nth-of-type(2),
  section.bandProfile article.cover .fp__btn:nth-of-type(2) {
    display: none; }

div.bandEdit article.coverEdit.hide,
section.bandProfile article.coverEdit.hide {
  display: none; }

div.bandEdit section.profile,
section.bandProfile section.profile {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  div.bandEdit section.profile::after,
  section.bandProfile section.profile::after {
    clear: both;
    content: "";
    display: table; }
  div.bandEdit section.profile article.bandInfo,
  section.bandProfile section.profile article.bandInfo {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 61.61588%; }
    div.bandEdit section.profile article.bandInfo:last-child,
    section.bandProfile section.profile article.bandInfo:last-child {
      margin-right: 0; }
  div.bandEdit section.profile article.bandInfoEdit,
  section.bandProfile section.profile article.bandInfoEdit {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 65.88078%;
    border-right: none;
    margin-left: 25.58941%; }
    div.bandEdit section.profile article.bandInfoEdit:last-child,
    section.bandProfile section.profile article.bandInfoEdit:last-child {
      margin-right: 0; }
    div.bandEdit section.profile article.bandInfoEdit label,
    section.bandProfile section.profile article.bandInfoEdit label {
      color: #9F6CD1; }
    div.bandEdit section.profile article.bandInfoEdit input,
    section.bandProfile section.profile article.bandInfoEdit input {
      display: block;
      font-size: 1em;
      padding: 10px;
      margin: 10px 10px 50px;
      width: 90%; }
  div.bandEdit section.profile article.bandInfoEdit.hide,
  div.bandEdit section.profile article.bandInfo.hide,
  section.bandProfile section.profile article.bandInfoEdit.hide,
  section.bandProfile section.profile article.bandInfo.hide {
    display: none; }
  div.bandEdit section.profile section.fundInfoBox.hide,
  section.bandProfile section.profile section.fundInfoBox.hide {
    display: none; }

div.bandEdit article.campaignList,
section.bandProfile article.campaignList {
  margin-top: 0px; }
  div.bandEdit article.campaignList div.campBox.hide,
  section.bandProfile article.campaignList div.campBox.hide {
    display: none; }
  div.bandEdit article.campaignList div.campBoxEdit,
  section.bandProfile article.campaignList div.campBoxEdit {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
    margin-left: 25.58941%; }
    div.bandEdit article.campaignList div.campBoxEdit:last-child,
    section.bandProfile article.campaignList div.campBoxEdit:last-child {
      margin-right: 0; }
    div.bandEdit article.campaignList div.campBoxEdit section.border,
    section.bandProfile article.campaignList div.campBoxEdit section.border {
      background: white;
      margin-bottom: 20px;
      padding: 20px; }
    div.bandEdit article.campaignList div.campBoxEdit select,
    section.bandProfile article.campaignList div.campBoxEdit select {
      margin-left: 10px; }
    div.bandEdit article.campaignList div.campBoxEdit input[type=date],
    section.bandProfile article.campaignList div.campBoxEdit input[type=date] {
      font-family: 'Fira Sans', sans-serif; }
    div.bandEdit article.campaignList div.campBoxEdit input,
    div.bandEdit article.campaignList div.campBoxEdit span.input,
    section.bandProfile article.campaignList div.campBoxEdit input,
    section.bandProfile article.campaignList div.campBoxEdit span.input {
      display: inline-block;
      font-size: 1em;
      padding: 10px;
      margin: 20px 10px;
      width: 90%; }
    div.bandEdit article.campaignList div.campBoxEdit .currencyinput,
    section.bandProfile article.campaignList div.campBoxEdit .currencyinput {
      border: 1px solid #ccc;
      display: inline-block;
      margin-left: 35px;
      width: 30%; }
      div.bandEdit article.campaignList div.campBoxEdit .currencyinput span,
      section.bandProfile article.campaignList div.campBoxEdit .currencyinput span {
        display: inline; }
    div.bandEdit article.campaignList div.campBoxEdit .currencyinput input,
    section.bandProfile article.campaignList div.campBoxEdit .currencyinput input {
      border: 0;
      width: 80%;
      margin: 0; }
    div.bandEdit article.campaignList div.campBoxEdit input.bringBtn,
    section.bandProfile article.campaignList div.campBoxEdit input.bringBtn {
      width: 100%;
      margin-left: 0;
      font-size: .8em; }
    div.bandEdit article.campaignList div.campBoxEdit span,
    section.bandProfile article.campaignList div.campBoxEdit span {
      display: block;
      margin-left: 10px; }
    div.bandEdit article.campaignList div.campBoxEdit h3,
    section.bandProfile article.campaignList div.campBoxEdit h3 {
      display: inline-block;
      padding-left: 10px; }
  div.bandEdit article.campaignList div.campBoxEdit.hide,
  section.bandProfile article.campaignList div.campBoxEdit.hide {
    display: none; }

div.bandEdit article.campaignList.edit,
section.bandProfile article.campaignList.edit {
  margin-top: 50px;
  border-top: none; }

section.fund {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
  margin-left: 25.58941%;
  background: #F2F2F2;
  border-top: 1px solid #AAAAAA; }
  section.fund:last-child {
    margin-right: 0; }
  section.fund h1 {
    margin: 100px 0 30px;
    font-weight: 100;
    font-size: 1.5em;
    text-align: left;
    border-bottom: 1px solid #AAAAAA;
    padding-bottom: 15px; }
  section.fund h3 {
    margin: 0px; }
  section.fund div.campBox {
    margin-bottom: 100px; }
    section.fund div.campBox section.border {
      width: 100%;
      display: block;
      padding: 30px;
      margin-left: 0; }
    section.fund div.campBox .fa {
      padding-right: 3px; }
    section.fund div.campBox h3.title {
      font-size: 1.5em; }
      section.fund div.campBox h3.title span {
        display: inline; }
    section.fund div.campBox p.tickets {
      font-weight: 100;
      color: #777777;
      padding-left: 5px;
      display: inline; }
    section.fund div.campBox p.bandDate {
      font-weight: 100;
      padding-left: 5px; }
    section.fund div.campBox p {
      display: inline; }
    section.fund div.campBox span {
      margin-bottom: 10px; }
    section.fund div.campBox div.deadBox,
    section.fund div.campBox div.pledge {
      margin: 30px 0; }
      section.fund div.campBox div.deadBox p,
      section.fund div.campBox div.pledge p {
        padding-right: 10px; }
      section.fund div.campBox div.deadBox p.warn,
      section.fund div.campBox div.pledge p.warn {
        color: #E70B20; }
    section.fund div.campBox div.pledge p {
      padding-left: 10px; }

form.login,
form.register {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
  margin-left: 34.11922%;
  margin-top: 100px;
  margin-bottom: 200px;
  text-align: center; }
  form.login:last-child,
  form.register:last-child {
    margin-right: 0; }
  form.login h1,
  form.register h1 {
    font-weight: 100;
    font-size: 1.5em;
    text-align: left;
    margin-bottom: 30px;
    border-bottom: 1px solid #AAAAAA;
    padding-bottom: 15px; }
  form.login input.email,
  form.login input.password,
  form.register input.email,
  form.register input.password {
    margin-bottom: 1em;
    font-size: 1em;
    width: 100%;
    padding: 1em;
    border-radius: 1px;
    border: 1px solid #E1E1E1;
    color: black; }
  form.login section.radio,
  form.register section.radio {
    margin-top: 30px;
    text-align: left;
    font-size: 1em; }
    form.login section.radio label,
    form.register section.radio label {
      color: black;
      margin-right: 5px; }
    form.login section.radio input[type=radio],
    form.register section.radio input[type=radio] {
      margin-right: 40px; }
  form.login .instructions,
  form.register .instructions {
    float: left;
    display: block;
    margin-right: 7.42297%;
    width: 100%;
    color: #9F6CD1;
    font-size: 0.9em;
    border-top: 1px solid #AAAAAA;
    padding-top: 15px; }
    form.login .instructions:last-child,
    form.register .instructions:last-child {
      margin-right: 0; }
    form.login .instructions span,
    form.register .instructions span {
      float: left;
      display: block;
      margin-right: 7.42297%;
      width: 59.71639%;
      text-align: left;
      margin-right: 0; }
      form.login .instructions span:last-child,
      form.register .instructions span:last-child {
        margin-right: 0; }
    form.login .instructions a,
    form.register .instructions a {
      float: left;
      display: block;
      margin-right: 7.42297%;
      width: 32.86064%;
      text-decoration: none;
      color: blue;
      transition: text-decoration 0.5s ease;
      text-align: left;
      float: right; }
      form.login .instructions a:last-child,
      form.register .instructions a:last-child {
        margin-right: 0; }
      form.login .instructions a:hover,
      form.register .instructions a:hover {
        text-decoration: underline;
        transition: text-decoration 0.5s ease; }
    form.login .instructions::after,
    form.register .instructions::after {
      content: "";
      clear: both;
      display: block; }
  form.login .loginBtn,
  form.login .registerBtn,
  form.register .loginBtn,
  form.register .registerBtn {
    color: white;
    text-decoration: none;
    background: #9F6CD1;
    width: 100%;
    padding: 10px 0;
    display: block;
    margin: 30px 0;
    font-family: 'Montserrat', sans-serif;
    padding: 10px 0;
    display: block;
    font-size: 1em;
    border: none;
    border-radius: 1px;
    text-align: center;
    letter-spacing: .15em;
    text-transform: uppercase;
    font-size: .8em;
    transition: opacity .3s ease; }
    form.login .loginBtn:hover,
    form.login .registerBtn:hover,
    form.register .loginBtn:hover,
    form.register .registerBtn:hover {
      opacity: .8;
      transition: opacity .3s ease; }
  form.login a.formLink,
  form.register a.formLink {
    text-decoration: none;
    color: #9F6CD1; }

section.home {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto; }
  section.home::after {
    clear: both;
    content: "";
    display: table; }

.homeHero {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  background: url("../images/bg-home.jpg") no-repeat center center;
  background-position: contain;
  height: 500px;
  padding-top: 100px;
  background-position: 100% 0%;
  text-align: center; }
  .homeHero::after {
    clear: both;
    content: "";
    display: table; }
  .homeHero div.textBox {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
    background: rgba(0, 0, 0, 0.5);
    margin: 50px auto;
    margin-left: 25%; }
    .homeHero div.textBox:last-child {
      margin-right: 0; }
  .homeHero h1 {
    color: white;
    font-size: 3em;
    text-transform: uppercase; }
  .homeHero p {
    color: white;
    font-size: 2.5em; }

section.bandList {
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Fira Sans', sans-serif;
  background: white;
  margin-top: 50px; }
  section.bandList::after {
    clear: both;
    content: "";
    display: table; }
  section.bandList h1 {
    font-weight: 500;
    font-size: 1.2em;
    border-bottom: 1px solid #9F6CD1;
    background: #F2F2F2;
    padding-bottom: 25px; }
  section.bandList:nth-child(1) {
    padding-top: 50px; }
  section.bandList article.bandItem {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
    margin-left: 25%;
    border-bottom: 5px solid #F2F2F2;
    margin-bottom: 45px;
    padding-bottom: 20px; }
    section.bandList article.bandItem:last-child {
      margin-right: 0; }
    section.bandList article.bandItem img {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 23.23176%;
      border-radius: 1px;
      height: 115px;
      width: 115px;
      border: 2px solid #F2F2F2;
      object-fit: cover; }
      section.bandList article.bandItem img:last-child {
        margin-right: 0; }
    section.bandList article.bandItem section.bandInfo {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 65.88078%;
      float: right; }
      section.bandList article.bandItem section.bandInfo:last-child {
        margin-right: 0; }
      section.bandList article.bandItem section.bandInfo a, section.bandList article.bandItem section.bandInfo .bandName {
        text-decoration: none;
        color: black;
        font-weight: 500;
        font-size: 1.2em;
        margin: 0;
        display: inline;
        transition: color .3s ease; }
        section.bandList article.bandItem section.bandInfo a:hover, section.bandList article.bandItem section.bandInfo .bandName:hover {
          color: #9F6CD1;
          transition: color .3s ease; }
      section.bandList article.bandItem section.bandInfo p.bandDate {
        color: black;
        font-weight: 300;
        margin: 0; }
      section.bandList article.bandItem section.bandInfo p.bandStatus {
        color: #777777;
        font-weight: 300;
        margin: 0; }
      section.bandList article.bandItem section.bandInfo a.pledgeBtn {
        font-family: 'Montserrat', sans-serif;
        text-decoration: none;
        color: white;
        background: #9F6CD1;
        letter-spacing: .15em;
        text-transform: uppercase;
        font-size: .6em;
        padding: 10px;
        float: right;
        border-radius: 1px;
        transition: opacity .3s ease; }
        section.bandList article.bandItem section.bandInfo a.pledgeBtn:hover {
          opacity: .8;
          transition: opacity .3s ease; }
  section.bandList::after {
    content: "";
    display: block;
    clear: both; }

.cover {
  margin-top: 100px; }

section.about {
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Fira Sans', sans-serif;
  background: white;
  margin-bottom: 300px; }
  section.about::after {
    clear: both;
    content: "";
    display: table; }
  section.about h1 {
    font-weight: 500;
    font-size: 1.2em;
    border-bottom: 1px solid #9F6CD1;
    background: #F2F2F2;
    padding: 100px 0 25px;
    margin-top: 0; }
  section.about div {
    padding: 15px 100px; }
    section.about div span.number {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 10.43705%;
      clear: both;
      font-size: 1.5em;
      background: #9F6CD1;
      border-radius: 100px;
      color: white;
      padding: 1% 3%;
      border: 1px solid #E2D7EC inset;
      margin-top: 10px;
      width: 8%; }
      section.about div span.number:last-child {
        margin-right: 0; }
    section.about div p {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 82.94039%;
      margin-top: 0;
      padding: 10px 0 20px;
      border-bottom: 5px solid #F2F2F2; }
      section.about div p:last-child {
        margin-right: 0; }
      section.about div p a {
        text-decoration: none;
        font-size: 1.3em;
        color: #9F6CD1;
        opacity: .5; }
      section.about div p span {
        color: #9F6CD1;
        font-size: 1.3em; }
      section.about div p:last-child, section.about div p:first-child {
        margin-left: 8.5298%;
        border-bottom: none; }
      section.about div p:last-child {
        color: black; }

footer {
  margin-right: 0;
  clear: both;
  background: black;
  border-top: 1px solid #999999;
  position: static;
  bottom: 0;
  width: 100%;
  text-align: center; }
  footer i.fa {
    float: left;
    font-size: 1.5em;
    color: white;
    margin: 10px 0 0 60px; }
    footer i.fa:hover {
      color: #9F6CD1; }
  footer nav {
    margin: 10px 0;
    display: inline-block; }
    footer nav a, footer nav p {
      display: inline-block;
      text-decoration: none;
      padding: 5px;
      font-size: .75em;
      color: white;
      transition: color 0.3s ease;
      letter-spacing: .15em;
      text-transform: uppercase;
      margin-right: 20px; }
    footer nav p {
      margin: 0 50px; }
    footer nav a:hover {
      color: #9F6CD1;
      transition: color 0.3s ease; }

@media (max-width: 1002px) {
  section.bandList article.bandItem {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 65.88078%;
    margin-left: 15%; }
    section.bandList article.bandItem:last-child {
      margin-right: 0; }
  section.about div {
    padding: 15px 50px; }
    section.about div span.number {
      padding-bottom: 0; } }

@media (max-width: 860px) {
  form.register,
  form.login {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 65.88078%;
    margin-left: 17.05961%; }
    form.register:last-child,
    form.login:last-child {
      margin-right: 0; }
  section.bandList article.bandItem {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 74.41059%;
    margin-left: 10%; }
    section.bandList article.bandItem:last-child {
      margin-right: 0; }
  article.campaignList div.campBox section.border {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
    margin-left: 25.58941%;
    display: none; }
    article.campaignList div.campBox section.border:last-child {
      margin-right: 0; }
    article.campaignList div.campBox section.border:last-child {
      display: block; }
  section.fund {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 65.88078%;
    margin-left: 17.05961%;
    border-top: none; }
    section.fund:last-child {
      margin-right: 0; }
  section.about div {
    padding: 15px 30px; }
  footer i.fa {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    margin: 10px auto 0; }
    footer i.fa:last-child {
      margin-right: 0; } }

@media (max-width: 732px) {
  .homeHero div.textBox {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 65.88078%;
    margin-left: 15%; }
    .homeHero div.textBox:last-child {
      margin-right: 0; }
  section.bandList article.bandItem {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 82.94039%;
    margin-left: 7%; }
    section.bandList article.bandItem:last-child {
      margin-right: 0; }
    section.bandList article.bandItem img {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%; }
      section.bandList article.bandItem img:last-child {
        margin-right: 0; }
    section.bandList article.bandItem section.bandInfo {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%;
      text-align: center;
      margin-top: 15px; }
      section.bandList article.bandItem section.bandInfo:last-child {
        margin-right: 0; }
      section.bandList article.bandItem section.bandInfo p.bandStatus {
        padding-bottom: 10px; }
      section.bandList article.bandItem section.bandInfo a.pledgeBtn {
        float: none; }
  section.bandProfile article.cover.coverEdit {
    margin: 80px auto 0; }
    section.bandProfile article.cover.coverEdit div.title {
      margin: 20px auto 20px;
      margin-bottom: 20px; }
      section.bandProfile article.cover.coverEdit div.title h1 {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%;
        margin-top: 0; }
        section.bandProfile article.cover.coverEdit div.title h1:last-child {
          margin-right: 0; }
      section.bandProfile article.cover.coverEdit div.title input.editBtn {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%;
        width: 25%;
        margin-left: 35%; }
        section.bandProfile article.cover.coverEdit div.title input.editBtn:last-child {
          margin-right: 0; }
      section.bandProfile article.cover.coverEdit div.title::after {
        content: "";
        clear: both;
        display: block; }
    section.bandProfile article.cover.coverEdit div.imgContainer {
      clear: both; }
      section.bandProfile article.cover.coverEdit div.imgContainer img {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 23.23176%;
        border-radius: 1px;
        height: 300px;
        width: 100%;
        margin: 5px 0;
        object-fit: cover; }
        section.bandProfile article.cover.coverEdit div.imgContainer img:last-child {
          margin-right: 0; }
  section.bandProfile div.bandEdit article.coverEdit input.editBtn {
    display: block;
    margin: 0 auto;
    float: none; }
  section.bandProfile section.profile article.bandInfo {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    width: 90%;
    padding-right: 0;
    margin: 0 auto;
    margin-left: 5%;
    border: none; }
    section.bandProfile section.profile article.bandInfo:last-child {
      margin-right: 0; }
  section.bandProfile section.profile section.fundInfoBox {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    text-align: center;
    border-top: 1px solid #999999;
    padding-top: 30px; }
    section.bandProfile section.profile section.fundInfoBox:last-child {
      margin-right: 0; }
    section.bandProfile section.profile section.fundInfoBox input.bringBtn {
      float: none;
      margin: 20px 0 30px 25%;
      width: 50%; }
  section.fund {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 82.94039%;
    margin-left: 8.5298%; }
    section.fund:last-child {
      margin-right: 0; }
  section.about div {
    padding: 15px 50px; }
    section.about div span.number {
      padding-top: 0;
      font-size: 1.2em;
      margin-top: 15px; } }

@media (max-width: 600px) {
  form.register,
  form.login {
    margin-top: 150px; }
  header {
    height: 120px; }
    header a .fa {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%;
      float: none;
      margin: 5px auto;
      text-align: center; }
      header a .fa:last-child {
        margin-right: 0; }
    header nav {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%;
      margin: 15px auto;
      float: none;
      text-align: center; }
      header nav:last-child {
        margin-right: 0; }
      header nav a {
        font-size: .7em; }
  section.bandProfile article.cover.coverEdit {
    margin-top: 100px; }
    section.bandProfile article.cover.coverEdit div.title {
      margin-top: 50px; }
      section.bandProfile article.cover.coverEdit div.title h1.bandName {
        margin-top: 5px; }
      section.bandProfile article.cover.coverEdit div.title input.editBtn {
        width: 35%;
        margin-left: 30%; }
  section.bandProfile div.bandEdit article.coverEdit {
    margin-top: 150px; }
    section.bandProfile div.bandEdit article.coverEdit div.titleEdit {
      width: 90%; }
      section.bandProfile div.bandEdit article.coverEdit div.titleEdit input {
        width: 90%; }
    section.bandProfile div.bandEdit article.coverEdit p {
      display: block;
      margin: 0 auto;
      text-align: center;
      padding: 0; }
    section.bandProfile div.bandEdit article.coverEdit .fp__btn {
      display: block;
      margin: 10px auto; }
      section.bandProfile div.bandEdit article.coverEdit .fp__btn:nth-of-type(2) {
        display: none; }
  article.campaignList div.campBox section.border {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 65.88078%;
    margin-left: 17.05961%;
    display: none; }
    article.campaignList div.campBox section.border:last-child {
      margin-right: 0; }
    article.campaignList div.campBox section.border:last-child {
      display: block; }
  section.fund {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    margin-top: 50px;
    width: 90%;
    margin-left: 5%; }
    section.fund:last-child {
      margin-right: 0; }
    section.fund section.border h3.title {
      font-size: 1.2em; }
  section.about div {
    padding: 15px 10px; }
    section.about div span.number {
      padding-bottom: 0; }
  footer p,
  footer a.contactBtn,
  footer a.aboutBtn {
    margin: 0; } }

@media (max-width: 461px) {
  form.register,
  form.login {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 82.94039%;
    margin-left: 8.5298%; }
    form.register:last-child,
    form.login:last-child {
      margin-right: 0; }
  header a .fa {
    text-align: left;
    margin-left: 20px; }
  header nav div.guestBtn {
    display: block;
    position: absolute;
    right: 10px;
    top: 20px;
    float: right; }
  article.homeHero div.textBox {
    padding: inherit 10px; }
    article.homeHero div.textBox p {
      font-size: 2em; }
  section.bandList,
  section.about {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto; }
    section.bandList::after,
    section.about::after {
      clear: both;
      content: "";
      display: table; }
  section.bandProfile article.bandInfo div.youtube iframe {
    width: 90%;
    height: 400; }
  article.campaignList div.campBox section.border {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 82.94039%;
    margin-left: 8.5298%;
    display: none; }
    article.campaignList div.campBox section.border:last-child {
      margin-right: 0; }
    article.campaignList div.campBox section.border:last-child {
      display: block; } }
