

$base01:    #9F6CD1;  //button text, background
$border: #999999; //borders
$background: #F2F2F2;
$gray: #777777;
$light-gray: #E1E1E1;
$form: #A9A9A9; //for form text
$header: #E2D7EC;

$med-gray: #AAAAAA;
