@import "../../bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "../../bower_components/neat/app/assets/stylesheets/neat";

@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
  font-family: 'Helvetica' sans-serif;
  background: #A1C9BE;
}

div.wrapper {
  @include outer-container(100%);
  // height: 100%;
}

header {
  @include omega();
  background: #6FA697;
  border-bottom: 1px solid #0E5340;
  img {
    float: left;
  }
  nav {
    margin: 25px 0;
    display: inline-block;
    width: 90%;
    a {
      text-decoration: none;
      padding: 10px;
      font-size: 1.3em;
      float: left;
      color: #0E5340;
      transition: color 0.3s ease;
      &:hover {
        color: #003728;
        transition: color 0.3s ease;
      }
    }
    a.btn {
      border: 1px solid #0E5340;
      margin-right: 10px;
      border-radius: 5px;
      background: #A1C9BE;
    }
    a.guestBtn {
      float: right;
    }
  }
}

main {
  @include outer-container;
  // height: 100%;
  // position: relative;
  // top: 70px;
}

form.login,
form.register {
  @include span-columns(4);
  @include shift(4);
  margin-top: 100px;
  text-align: center;
  input.email,
  input.password {
    margin: 5px 0;
    font-size: 0.8em;
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid gray;
  }
  .instructions {
    color: #256F5B;
    font-size: 0.9em;
    border-top: 1px solid gray;
    padding-top: 15px;
    a {
      text-decoration: none;
      color: blue;
      transition: text-decoration 0.5s ease;
      padding: 10px 50px;
      &:hover{
        text-decoration: underline;
        transition: text-decoration 0.5s ease;
      }
    }
  }
  .loginBtn,
  .registerBtn {
    color: white;
    text-decoration: none;
    background: #0D523F;
    width: 100%;
    padding: 10px 0;
    display: block;
    margin: 5px 0;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    text-align: center;
  }
  a.formLink {
    text-decoration: none;
    color: #0D523F;
    // display: none;
  }
}

footer {
  background: #6FA697;
  border-top: 1px solid #0E5340;
  position: absolute;
  bottom: 0;
  width: 100%;
  img {
    float: left;
  }
  nav {
    margin: 10px 0;
    display: inline-block;
    a, p {
      display: inline-block;
      text-decoration: none;
      padding: 5px;
      font-size: 1em;
      color: #0E5340;
      transition: color 0.3s ease;
    }
    a:hover {
      color: #003728;
      transition: color 0.3s ease;
    }
  }
}

.homeBanner {
  height: 200px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.bandList {
  border-bottom: 1px solid black;
}

.cover {
  border-bottom: 1px solid black;
}
